input{
  background-color: lightcyan;
  border-radius: 10px;
}
button
{
    background-color: #E50914;
    color: #ffffff;
}

button:hover
{
    background-color: #E50914;
    color: #000000;
}

img{
    width: 100%;
    cursor: pointer;
}

h5
{
    color: #ffffff;
}
